@import '~@angular/material/theming';

.dialog-title {
    display: flex;
    margin-bottom: 0;

    &__image {
        align-items: center;
        display: flex;
        justify-content: center;
        margin: .5rem auto .5rem auto;
    }

    &__title {
        color: white;
    }

    h1 {
        text-shadow: 0 .05rem .1rem mat-color($mat-gray, 600);
    }
}

.mat-chip {
    background-color: rgba(224, 224, 224, .5);
}

.mat-dialog-content {
    @include mat-elevation(2);

    background-color: white;
    border-radius: 16px;
    padding: 0;
}

.stat {
    align-items: center;
    display: flex;
    flex-direction: row;

    &__bar {
        flex: 5;
    }

    &__name {
        flex: 2;
    }

    &__value {
        flex: 1;
        margin-right: 2rem;
        text-align: right;
    }
}

.tab-content {
    margin: 1.5rem;
}