
<ng-container *ngIf="pokemon | async; else spinner">
    <div class="dialog-title" mat-dialog-title>
        <div>
            <h1 class="dialog-title__title">{{ (pokemon | async)?.name | fromResourceName }}</h1>
            <mat-chip-list [selectable]="false">
                <mat-chip *ngFor="let pokemonType of (pokemon | async)?.defaultPokemon.types"
                    [disableRipple]="true"
                    [removable]="false"
                    [selectable]="false">
                    {{ pokemonType.type.name | fromResourceName }}
                </mat-chip>
            </mat-chip-list>
        </div>
        <div [attr.class]="'dialog-title__image dialog-title__image--' + (pokemon | async)?.color.name">
            <img *ngIf="(pokemon | async)?.defaultPokemon.sprites.front_default"
                [alt]="'image of ' + (pokemon | async)?.name"
                [src]="(pokemon | async)?.defaultPokemon.sprites.front_default">
        </div>
    </div>
    <div mat-dialog-content>
        <mat-tab-group dynamicHeight>
            <mat-tab label="About">
                <div class="tab-content">
                    {{ (pokemon | async)?.flavorTextEnglish.flavor_text  }}    
                </div>
            </mat-tab>
            <mat-tab label="Base Stats">
                <div class="tab-content">
                    <div *ngFor="let stat of (pokemon | async).defaultPokemon.stats" class="stat">
                        <div class="stat__name">{{ stat.stat.name | fromResourceName | mapText: { 'Hp': 'HP' } }}</div>
                        <div class="stat__value">{{ stat.base_stat }}</div>
                        <div class="stat__bar">
                            <mat-progress-bar [value]="(stat.base_stat/255) * 100"
                                color="accent"
                                mode="determinate">
                            </mat-progress-bar>
                        </div>
                    </div>
                </div>          
            </mat-tab>
        </mat-tab-group>
    </div>
</ng-container>
<ng-template #spinner>
    <div class="loading-indicator">
        <img src="/assets/loading.gif">
    </div>
</ng-template>
