<header>
  <mat-toolbar color="primary">
    <button (click)="drawer.toggle()"  
      aria-label="Toggle sidenav"
      type="button"
      mat-icon-button>
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <h1>Pok&eacute;mon</h1>
  </mat-toolbar>  
</header>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [fixedInViewport]="true"
      [fixedTopGap]="64"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
      class="sidenav"
      #drawer>
    <nav>
      <mat-nav-list>
        <a *ngFor="let navItem of navItems"
          [routerLink]="navItem.routerLink"  
          class="mat-body-strong"
          routerLinkActive="mat-list-item--active"
          mat-list-item>
          {{ navItem.text }}
        </a>
      </mat-nav-list>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <main>
        <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
